<div class="mat-elevation-z8 mat-table">
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-progress-bar></mat-progress-bar>
    </div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let res"> {{res.codTipo.desTipoEquip}} </td>
      </ng-container>
      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef> Modelo </th>
        <td mat-cell *matCellDef="let res"> {{res.codModelo.obsModelo}} </td>
      </ng-container>
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let res"> {{res.codTipo.desTipoEquip}} </td>
      </ng-container>
      <ng-container matColumnDef="serie">
        <th mat-header-cell *matHeaderCellDef> Numero de Serie </th>
        <td mat-cell *matCellDef="let res"> {{res.numGrupo}} </td>
      </ng-container>
      <ng-container matColumnDef="patrimonio">
        <th mat-header-cell *matHeaderCellDef> Patrimonio </th>
        <td mat-cell *matCellDef="let res"> {{res.numTombamento}} </td>
      </ng-container>
      <ng-container matColumnDef="processo">
        <th mat-header-cell *matHeaderCellDef> Processo </th>
        <td mat-cell *matCellDef="let res"> {{res.numSerie}} </td>
      </ng-container>
      <ng-container matColumnDef="contrato">
        <mat-expansion-panel></mat-expansion-panel>
        <th mat-header-cell *matHeaderCellDef> Contrato </th>
        <td mat-cell *matCellDef="let res"> {{res.idContrato.idProcessos.numProcesso}} </td>
      </ng-container>
      <ng-container matColumnDef="vigencia">
        <th mat-header-cell *matHeaderCellDef> Vigência </th>
        <td mat-cell *matCellDef="let res"> {{res.idContrato.nrContrato}} </td>
      </ng-container>
      <ng-container matColumnDef="uniAdm">
        <th mat-header-cell *matHeaderCellDef> Local </th>
        <td mat-cell *matCellDef="let res"> {{res.idLocal.des_un_adm}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef><mat-icon>list_alt</mat-icon> </th>
        <td mat-cell *matCellDef="let res"><button mat-button (click)="abrirModal('')"><mat-icon>keyboard_arrow_down</mat-icon></button></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="table"></tr>
      <tr mat-row  matRipple *matRowDef="let row; columns: table"></tr>
    </table>
    <mat-paginator [pageSize]="5" [length]="2204"  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>



