<p-dialog  [(visible)]="toogle" [width]="1200" [minWidth]="1000" [minY]="70" [minX]="120"
 [maximizable]="true" [baseZIndex]="10000">
  <p-header>
    {{header}}
  </p-header>
  <div [ngSwitch]="render">
    <div *ngSwitchCase="0">
      <h3>Fornecedor</h3>
      <mat-divider></mat-divider>
      <p>Dados cadastrais do fornecedor do contrato</p>
      <mat-divider></mat-divider>
      <app-fornecedor-detalhes [data]="detalhes"></app-fornecedor-detalhes>
    </div>
    <div *ngSwitchCase="1">
      <h2>Garantia Acordada</h2>
      <app-garantia-detalhes [data]="detalhes"></app-garantia-detalhes>
    </div>
  </div>
  <p-footer>
    <button mat-raised-button color="primary">Verificar dados</button>
    <button mat-raised-button (click)="toogle = !toogle" color="warn">Sair</button>
  </p-footer>
</p-dialog>
<div class="spinner-container" *ngIf="data.load$ | async">
  <mat-progress-bar></mat-progress-bar>
</div>
<div id="table" class="mat-elevation-z8">
  <mat-card class="mat-elevation-z10">
    <mat-card-title >
      <strong>Ultimos contratos cadastrados</strong>
    </mat-card-title>
    <mat-form-field class="example-container">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
    </mat-form-field>
    <table mat-table [dataSource]="data">
      <ng-container matColumnDef="numContrato">
        <th mat-header-cell *matHeaderCellDef>#Contrato</th>
        <td mat-cell *matCellDef="let res"> {{res.nrContrato}} </td>
      </ng-container>
      <ng-container matColumnDef="processo">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let res"> {{res.idProcessos.numProcesso}} </td>
      </ng-container>
      <ng-container matColumnDef="licitacao">
        <th mat-header-cell *matHeaderCellDef>Licitação</th>
        <td mat-cell *matCellDef="let res"> {{res.idProcessos.nrLicitacao}} </td>
      </ng-container>
      <ng-container matColumnDef="manutencao">
        <th mat-header-cell *matHeaderCellDef>Manutenção</th>
        <td mat-cell *matCellDef="let res"> {{res.tipoManut}} </td>
      </ng-container>
      <ng-container matColumnDef="pregao">
        <th mat-header-cell *matHeaderCellDef>Pregão</th>
        <td mat-cell *matCellDef="let res"> {{res.idProcessos.tipoLicitacao}} </td>
      </ng-container>
      <ng-container matColumnDef="tipoContrato">
        <th mat-header-cell *matHeaderCellDef>Contrato</th>
        <td mat-cell *matCellDef="let res"> {{res.tipoContrato}} </td>
      </ng-container>
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let res"> {{res.vlrContrato}} </td>
      </ng-container>
      <ng-container matColumnDef="fornecedor">
        <th mat-header-cell *matHeaderCellDef>Fornecedor</th>
        <td mat-cell *matCellDef="let res" >
          <button mat-raised-button (click)="mostrarDetalhes(res, 0)">Mais detalhes</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="garantia">
        <th mat-header-cell *matHeaderCellDef>Garantias</th>
        <td mat-cell *matCellDef="let res">
          <button mat-raised-button (click)="mostrarDetalhes(res, 1)">Mais detalhes</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="gestores">
        <th mat-header-cell *matHeaderCellDef>Gestores</th>
        <td mat-cell *matCellDef="let res" (click)="mostrarDetalhes(res, 2)">
          <button mat-button>Mais detalhes</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="equipamentos">
        <th mat-header-cell *matHeaderCellDef>Equipamentos</th>
        <td mat-cell *matCellDef="let res" (click)="mostrarDetalhes(res, 3)">
          <button mat-button>Mais detalhes</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="atendimentos">
        <th mat-header-cell *matHeaderCellDef>Atendimentos</th>
        <td mat-cell *matCellDef="let res" (click)="mostrarDetalhes(res, 4)">
          <button mat-button (click)="mostrarDetalhes(res)">Mais detalhes</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="table"></tr>
      <tr mat-row *matRowDef="let row; columns: table"></tr>
    </table>
    <mat-paginator [pageSize]="5" [length]="2204"  [pageSizeOptions]="[3, 5, 10, 25]" showFirstLastButtons></mat-paginator>
  </mat-card>

</div>

